[submodule "site-lisp/geiser"]
	path = site-lisp/geiser
	url = git://gitorious.org/geiser/mainline.git
[submodule "site-lisp/swank-js"]
	path = site-lisp/swank-js
	url = git://github.com/ivan4th/swank-js.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git://github.com/nablaone/slime.git
[submodule "site-lisp/jabber-mode"]
	path = site-lisp/jabber-mode
	url = git://emacs-jabber.git.sourceforge.net/gitroot/emacs-jabber/emacs-jabber
[submodule "site-lisp/writegood-mode"]
	path = site-lisp/writegood-mode
	url = https://github.com/bnbeckwith/writegood-mode.git
